<!DOCTYPE html>
<html>
<head>
<title>Welcome to APP_1!</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }

.button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #7aa8b7;
        border-radius: 6px;
        outline: none;
      }
</style>
</head>
<body>
<h1>APP_1. Build from ansible!</h1>
<p>Now you connected to backend server</p>
<p>Config: OK </p>
<p>HTML:   OK </p>
<a class="button" href="http://192.168.56.104/offer/">HTML button tag</a>
<p>For online documentation and support please refer to
<a href="http://nginx.org/">nginx.org</a>.<br/>
Commercial support is available at
<a href="http://nginx.com/">nginx.com</a>.</p>

<p><em>Thank you for using nginx.</em></p>
</body>
</html>
